@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
.module_1{
 position: absolute;
 width: 1865px;
 height: 81px;
 left: 0px;
 top: 0px;
 background: #0D7697;
 color: #FFFFFF;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

.d0{
  display: flex;
  flex-basis: 50%;

}
.d1{
  display: flex;
  flex-basis: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1px;
}

.d2{
  display: flex;
  flex-basis: 25%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1px;
  }

  .d3{
    position: absolute;
    width: 232px;
    height: 26px;
    left: 1400px;
    top: 27px;
  }
  .d3 input {
      width: 219px;
      height: 26px;
      padding-left: 10px;
      border: 2px solid #000000;
      border-radius: 5px;
      outline: none;
      background: #ffffff;
      color: #9E9C9C;
      }
    .d3 button {
      position: absolute;
      top: 2px;
      right: 0px;
      width: 42px;
      height: 28px;
      border: none;
      background: #dadbdb;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      }
    .d3 button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #0a0a0a;
  }
  
   .d4{
    
    display: flex;
    flex-basis: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1px;
    } 
    

  .module_4{
    position: absolute;
width: 1865px;
height: 59px;
left: 0px;
top: 965px;
background: #D9D9D9;
display: flex;
align-items: flex-end;
flex-flow: row;
  }
  .m0{
    display: flex;
flex-basis: 10%;
  }
  .m1{
    display: flex;
flex-basis: 10%;
  }
  .m2{
    display: flex;
flex-basis: 10%;
  }
  .m3{
    display: flex;
    justify-content: flex-end;
flex-basis: 70%;
  }
  .m4{
    display: flex;
    justify-content: flex-end;
    flex-basis: 5%;
  }
 p.m5::after{ 
  content:\1F6C8;
  }

  .tab {
    position: absolute;
    width: 448px;
    height: 72px;
    left: 0px;
    top: 79px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(13, 118, 151, 0.41);
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 28px 30px;
    transition: 0.3s;
    
  }
  .tab button:hover {
    background-color: rgba(180, 179, 179, 0.38);
  }
  .tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
 
.accordion {
  background-color: rgba(1, 110, 143, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 340px;
}

.active:after {
  content: "\2212";
}

.panel {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.accordion_2 {
  background-color: rgba(143, 81, 1, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_2:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 365px;
}

.active:after {
  content: "\2212";
}

.panel_2 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.accordion_3 {
  background-color: rgba(55, 1, 143, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_3:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 300px;
}

.active:after {
  content: "\2212";
}

.panel_3 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


.accordion_4 {
  background-color: rgba(23, 107, 2, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_4:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 332px;
}

.active:after {
  content: "\2212";
}

.panel_4 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox_4"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.accordion_5 {
  background-color: rgba(143, 1, 1, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_5:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 321px;
}

.active:after {
  content: "\2212";
}

.panel_5 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.accordion_6 {
  background-color: rgba(1, 143, 131, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_6:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 321px;
}

.active:after {
  content: "\2212";
}

.panel_6 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox_6"]:checked + label, 
input[type="checkbox_6"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox_6"]:checked + label:after, 
input[type="checkbox_6"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.accordion_7 {
  background-color: rgba(85, 85, 85, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_7:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 310px;
}

.active:after {
  content: "\2212";
}

.panel_7 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


.accordion_8 {
  background-color: rgba(85, 85, 85, 0.41);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: visible;
  position: relative;
  display: flex;
  width: 449px;
  height: 40px;
  left: -12px;
  top: 100px;
  padding: 18px;
  border: 1px solid #ffffff;


  text-align: left;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  font-size: 15px;
  transition: 0.4s;
 
  z-index: 1;
}

.accordion_8:after {
  content: '\002B';
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 357px;
}

.active:after {
  content: "\2212";
}

.panel_8 {
  visibility: visible;
  overflow: hidden;
  background-color: #eee;
  color: rgb(3, 3, 3);
  cursor: pointer; 
  position: relative;
  display: none;
  width: 400px;
  height: auto;
  left: -8px;
  top: 90px;
  padding: 18px;
  border: 1px solid #ffffff;
  transition: 0.4s;
  outline: none;
  overflow: auto;

  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  font-size: 15px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
#map {
  position: absolute;
  height: 884px;
  left: 448px;
  top: 81px;
  width: 1417px;
} 
