@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
.module_1{
 position: absolute;
 width: 1865px;
 height: 81px;
 left: 0px;
 top: 0px;
 background: #0D7697;
 color: #FFFFFF;
}

.d1{
box-sizing: border-box;
position: absolute;
width: 202px;
height: 40px;
left: 1000px;
top: 22px;
/* background: rgba(255, 255, 255, 0.38); */
border: 1px solid #FFFFFF;

font-family: 'Inter'; 
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1px;
}

.d2{
  box-sizing: border-box;
position: absolute;
width: 202px;
height: 40px;
left: 1300px;
top: 22px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1px;
  }

  .d3{
    position: absolute;
    width: 232px;
    height: 26px;
    left: 1400px;
    top: 27px;
  }
  .d3 input {
      width: 219px;
      height: 26px;
      padding-left: 10px;
      border: 2px solid #000000;
      border-radius: 5px;
      outline: none;
      background: #ffffff;
      color: #9E9C9C;
      }
    .d3 button {
      position: absolute;
      top: 2px;
      right: 0px;
      width: 42px;
      height: 28px;
      border: none;
      background: #dadbdb;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      }
    .d3 button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #F9F0DA;
  }
  
  .d4{
    box-sizing: border-box;
  position: absolute;
  width: 202px;
  height: 40px;
  left: 1800px;
  top: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1px;
    }

  
#map {
  position: absolute;
  height: 884px;
  left: 448px;
  top: 81px;
  width: 1417px;
}
