@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
.module_1{
 position: absolute;
 width: 1865px;
 height: 81px;
 left: 0px;
 top: 0px;
 background: #0D7697;
 color: #FFFFFF;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

.d0{
  display: flex;
  flex-basis: 50%;

}
.d1{
  display: flex;
  flex-basis: 20%;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1px;
}

.d2{
  display: flex;
  flex-basis: 25%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1px;
  }

  .d3{
    position: absolute;
    width: 232px;
    height: 26px;
    left: 1400px;
    top: 27px;
  }
  .d3 input {
      width: 219px;
      height: 26px;
      padding-left: 10px;
      border: 2px solid #000000;
      border-radius: 5px;
      outline: none;
      background: #ffffff;
      color: #9E9C9C;
      }
    .d3 button {
      position: absolute;
      top: 2px;
      right: 0px;
      width: 42px;
      height: 28px;
      border: none;
      background: #dadbdb;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      }
    .d3 button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #0a0a0a;
  }
  
  .d4{
    display: flex;
    flex-basis: 5%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1px;
    }

  .module_4{
    position: absolute;
width: 1865px;
height: 59px;
left: 0px;
top: 965px;
background: #D9D9D9;
display: flex;
align-items: flex-end;
flex-flow: row;
  }
  .m0{
    display: flex;
flex-basis: 10%;
  }
  .m1{
    display: flex;
flex-basis: 10%;
  }
  .m2{
    display: flex;
flex-basis: 10%;
  }
  .m3{
    display: flex;
    justify-content: flex-end;
flex-basis: 70%;
  }
  .m4{
    display: flex;
    justify-content: flex-end;
    flex-basis: 5%;
  }
 p.m5::after{ 
  content:\1F6C8;
  }

  .tab {
    position: absolute;
    width: 448px;
    height: 72px;
    left: 0px;
    top: 79px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(13, 118, 151, 0.41);
  }
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 28px 30px;
    transition: 0.3s;
    
  }
  .tab button:hover {
    background-color: rgba(255, 255, 255, 0.38);
  }
  .tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
#map {
  position: absolute;
  height: 884px;
  left: 448px;
  top: 81px;
  width: 1417px;
}
